@import url("styles/header.css");


:root {

    --cor-de-fundo: #EBECEE;
    --branco: #ffff;
}

body {
    background-color: var(--cor-de-fundo);

}

.container_imagem {

padding: 1em;
}

.lista-menu {
    display: none;
  }
  
.container__botao:checked ~ .lista-menu {
    display: block;
    position: absolute;
  top: 100%;
  }
